/* Global styles */
html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("logo2.jpg");
}

header {
  background-color: #ffb3b3;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 10px;
}

.ul-navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center; /* Add this line to center the navbar */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffcc00;
}

section {
  display: flex;
  flex-wrap: wrap; /* Add flex-wrap to handle wrapping of elements */
  padding-right: 10px; /* Adjust padding for better spacing */
}

aside {
  flex: 1; /* Change to use flex property for responsiveness */
  max-width: 400px; /* Limit the max width for better display on smaller screens */
  padding: 20px; /* Add padding for better spacing */
}

main {
  flex: 2; /* Change to use flex property for responsiveness */
  padding: 20px; /* Add padding for better spacing */
  text-align: center;
}

.h1-main {
  font-size: 32px;
  color: #333;
  margin: 0 0 20px;
}

article {
  flex: 1; /* Change to use flex property for responsiveness */
  padding: 20px; /* Add padding for better spacing */
}

.h1-artikel {
  font-size: 32px;
  color: #333;
  margin: 0 0 20px;
}

p {
  font-size: 14px;
  line-height: 1.5;
  color: #060606;
}

img {
  max-width: 100%;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* CSS untuk mempercantik formulir */
form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

footer {
  background-color: #b7fef9;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  color: #868585;
  margin: 0;
}

footer p:hover {
  text-decoration: underline;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  section {
    flex-direction: column; /* Change flex-direction to stack elements vertically */
    padding-right: 0; /* Remove the right padding */
  }

  aside, main, article {
    padding: 10px; /* Adjust padding for better spacing on smaller screens */
  }
}
